src/share/basis/demo/images/aborted.gif svn_mime_002dtype=application%2Foctet-stream
src/share/basis/demo/images/duke.gif svn_mime_002dtype=application%2Foctet-stream
src/share/basis/demo/images/duke.jpg svn_mime_002dtype=application%2Foctet-stream
src/share/basis/demo/images/duke.png svn_mime_002dtype=application%2Foctet-stream
src/share/basis/demo/images/gameover.gif svn_mime_002dtype=application%2Foctet-stream
src/share/basis/demo/images/logo.gif svn_mime_002dtype=application%2Foctet-stream
src/share/basis/demo/images/logo.jpg svn_mime_002dtype=application%2Foctet-stream
src/share/basis/demo/images/logo.png svn_mime_002dtype=application%2Foctet-stream
src/share/basis/demo/images/paused.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/capchi.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/capiota.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/capsigma.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/captheta.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/capupsil.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/chi.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/iota.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/javalang.doc.anc21.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/javalang.doc.anc38.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/javalang.doc.anc40.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/javalang.doc.anc41.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/sigma1.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/theta.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/upsilon.gif svn_mime_002dtype=application%2Foctet-stream
src/share/foundation/lib/security/cacerts svn_mime_002dtype=application%2Foctet-stream
src/share/foundation/lib/security/cacerts.internal svn_mime_002dtype=application%2Foctet-stream
src/share/javavm/test/TestSyncLocker.class svn_mime_002dtype=application%2Foctet-stream
src/share/personal/native/awt/pocketpc/awt.ico svn_mime_002dtype=application%2Foctet-stream
src/share/personal/native/awt/pocketpc/check.bmp svn_mime_002dtype=application%2Foctet-stream
src/share/personal/native/awt/pocketpc/hand.cur svn_mime_002dtype=application%2Foctet-stream
src/win32/personal/native/compat/test2.ico svn_mime_002dtype=application%2Foctet-stream
test/share/basis/tests/volatileImage/duke.gif svn_mime_002dtype=application%2Foctet-stream
test/share/gunit/classes/gunit/framework/doc-files/gunit-allclasses.jpg svn_mime_002dtype=application%2Foctet-stream
