src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/animation/480x640VerticalBackgrnd.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/animation/640x480HorizontalBackgrnd.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/animation/CDCAmsScreenSaver01.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/animation/CDCAmsScreenSaver02.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/animation/CDCAmsScreenSaver03.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/animation/CDCAmsScreenSaver04.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/animation/CDCAmsScreenSaver05.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/animation/CDCAmsScreenSaver06.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/animation/CDCAmsScreenSaver07.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/background/BottomBarPanel.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/background/LeftRaisedPlatform.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/background/RightRaisedPlatform.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/background/SplashScreen.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/background/TitleBar.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/background/ToolbarBackground.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/downloader/AppTitleBar.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/downloader/BlueDiamond.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/downloader/ClosedFolder.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/downloader/ClosedTriangle.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/downloader/DownLoadNow.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/downloader/DownLoaderBackgrnd.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/downloader/DownLoaderStoreTitle.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/downloader/LargeBtn.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/downloader/MediumBtn.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/downloader/OpenFolder.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/downloader/OpenTriangle.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/downloader/SaveBtn.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/downloader/SmallBtn.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/downloader/TicTacToeGraphic.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/downloader/TicTacToeTitle.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/gauge/ContGauge1.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/gauge/ContGauge10.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/gauge/ContGauge11.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/gauge/ContGauge12.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/gauge/ContGauge13.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/gauge/ContGauge14.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/gauge/ContGauge15.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/gauge/ContGauge16.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/gauge/ContGauge2.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/gauge/ContGauge3.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/gauge/ContGauge4.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/gauge/ContGauge5.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/gauge/ContGauge6.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/gauge/ContGauge7.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/gauge/ContGauge8.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/gauge/ContGauge9.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/gauge/ContGaugeBackgrnd.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/gauge/IdleContGauge.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/BackBtnNormal.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/BackBtnPressed.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/CancelBtn.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/Downloader.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/EndTaskHilite.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/EndTaskIcon.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/ExitIcon.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/ExitIconHilite.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/NavigateDwn.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/NavigateDwnHilite.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/NavigateUp.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/NavigateUpHilite.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/PreferencesIcon.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/ScrollLeftArrow.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/ScrollLeftBtnGhost.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/ScrollLftHilight.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/ScrollRightBtnGhost.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/ScrollRtArrow.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/ScrollRtHilight.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/SelectHilite.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/SelectIcon.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/System.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/SystemHiLight.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/icons/TaskMgrIcon.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/login/ExitBtn.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/login/GrayInputTextBox.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/login/LogInBtn.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/login/LogInPrompt.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/moveremove/InstalledAppsHeader.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/moveremove/MoveIcon.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/moveremove/RemoveIcon.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/moveremove/SizeHeader.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/preferences/EditUser.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/preferences/MoveRemoveIcon.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/preferences/MoveRemoveIconHiLight.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/preferences/NetworkIcon.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/preferences/NewUser.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/preferences/RemoveUser.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/progressbar/ProgressGaugeEmpty.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/classes/com/sun/appmanager/impl/presentation/AwtPDA/resources/progressbar/ProgressGaugeFull.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/Animator/icons/Animator.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/Animator/images/T1.gif svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/Animator/images/T10.gif svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/Animator/images/T2.gif svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/Animator/images/T3.gif svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/Animator/images/T4.gif svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/Animator/images/T5.gif svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/Animator/images/T6.gif svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/Animator/images/T7.gif svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/Animator/images/T8.gif svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/Animator/images/T9.gif svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/Animator/images/loading-msg.gif svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/ArcTest/icons/ArcTest.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/Clock/icons/Clock.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/DitherTest/icons/DitherTest.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/DrawTest/icons/DrawTest.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/TextApps/icons/TextApps.Blink.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/TextApps/icons/TextApps.NervousText.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/TicTacToe/icons/TicTacToe.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/TicTacToe/images/cross.gif svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/TicTacToe/images/not.gif svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/WireFrame/dinasaur.obj svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/WireFrame/icons/WireFrame.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/cdplayer/CompactDiscApp.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/jonix/aborted.gif svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/jonix/gameover.gif svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/jonix/paused.gif svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/phone/BasicKeypad.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/phone/GirlyKeypad.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/phone/icons/PhoneHiLight.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/phone/icons/phone.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/photoviewer/AdInsert60.jpg svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/programguide/Ticker60.jpg svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/radio/RadioApp.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/ticker/TickerBackground.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/ticker/icons/ticker.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/apps/tv/Dunkwell60.jpg svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/icons/Animator.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/icons/ArcTest.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/icons/Clock.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/icons/DitherTest.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/icons/DrawTest.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/icons/Games.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/icons/Generic.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/icons/Graphics.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/icons/Graphics2.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/icons/Text.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/icons/TextApps.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/icons/TicTacToe.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/icons/Tickers.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/icons/Utils.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/icons/Utils2.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/icons/WireFrame.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/icons/phone.png svn_mime_002dtype=application%2Foctet-stream
src/share/appmanager/repository/icons/ticker.png svn_mime_002dtype=application%2Foctet-stream
src/share/basis/demo/images/aborted.gif svn_mime_002dtype=application%2Foctet-stream
src/share/basis/demo/images/duke.gif svn_mime_002dtype=application%2Foctet-stream
src/share/basis/demo/images/duke.jpg svn_mime_002dtype=application%2Foctet-stream
src/share/basis/demo/images/duke.png svn_mime_002dtype=application%2Foctet-stream
src/share/basis/demo/images/gameover.gif svn_mime_002dtype=application%2Foctet-stream
src/share/basis/demo/images/logo.gif svn_mime_002dtype=application%2Foctet-stream
src/share/basis/demo/images/logo.jpg svn_mime_002dtype=application%2Foctet-stream
src/share/basis/demo/images/logo.png svn_mime_002dtype=application%2Foctet-stream
src/share/basis/demo/images/paused.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/capchi.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/capiota.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/capsigma.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/captheta.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/capupsil.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/chi.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/iota.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/javalang.doc.anc21.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/javalang.doc.anc38.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/javalang.doc.anc40.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/javalang.doc.anc41.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/sigma1.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/theta.gif svn_mime_002dtype=application%2Foctet-stream
src/share/classes/java/lang/doc-files/upsilon.gif svn_mime_002dtype=application%2Foctet-stream
src/share/foundation/lib/security/cacerts svn_mime_002dtype=application%2Foctet-stream
src/share/foundation/lib/security/cacerts.internal svn_mime_002dtype=application%2Foctet-stream
src/share/javavm/test/TestSyncLocker.class svn_mime_002dtype=application%2Foctet-stream
test/share/basis/tests/volatileImage/duke.gif svn_mime_002dtype=application%2Foctet-stream
